/* reset */

/* da segnare sempre all'inizio del CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
}

main {
  background-color: #f6f5f3;
}

footer {
  background-color: #7c69a4;
  color: white;
}

span {
  font-weight: bold;
}

hr {
  width: 5rem;
  color: #f7972e;
}

/* # UTILS */

.container {
  margin: 0 1.5rem;
  max-width: 100%;
}

.clearfix::after {
  /* da applicare al genitore con regola float */
  content: "";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.btn {
  background-color: white;
  padding: 0.7rem 1rem;
  border-radius: 50%;
  box-shadow: 2px 3px 10px #cecece;

  cursor: pointer;
}

/* HEADER */

.logo {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  color: #ff9614;

  padding: 0.5rem 0;
}

/* MAIN */

#dessert-tutorial .container .page-subtitle {
  color: #b19999;
  font-size: 0.9rem;
  font-weight: normal;

  padding-top: 20px;
}

#dessert-tutorial .container h1 {
  color: #4e3969;
  font-weight: bold;
  margin: 10px 0 20px;
}

.card-description {
  padding: 2rem 2rem;
  background-color: white;
  box-shadow: 2px 3px 10px #cecece;
}

.card-description h2 {
  font-size: 1.2rem;
}

.video-description {
  padding: 1.5rem 0 0;
}

.video-description li {
  line-height: 2rem;
}

.video-item {
  min-height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.social-icons {
  justify-content: space-between;
  margin: 2rem 0;
}

#facebook {
  color: #035ca5;
}

#twitter {
  color: #74c0fc;
}

#instagram {
  color: #ff55ff;
}

#pinterest,
#youtube {
  color: red;
}

.presentation {
  padding-bottom: 3rem;
}

.presentation h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.presentation-image {
  height: 200px;
  margin: 1rem auto;
}

.presentation p {
  font-size: 1.2rem;
  line-height: 35px;
}
/* FOOTER */

.address-links {
  flex-direction: column;
  align-items: center;
  gap: 15px;

  padding: 2rem 0;
}

.address-links {
  text-align: center;
}

.ft-links {
  line-height: 2rem;
}

.ft-links-items {
  text-decoration: underline;
  margin: 0 10px;
}

/* MEDIA QUERY */

@media screen and (min-width: 576px) {
  .presentation-image {
    float: left;
    margin: 1rem 1rem 0 0;
  }

  .btn {
    width: calc(100% / 5);
    border-radius: 30px;
  }

  .social-icons {
    gap: 1rem;
  }

  #facebook,
  #twitter,
  #instagram,
  #pinterest,
  #youtube {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline {
    display: inline;
  }

  .container {
    margin: 0 3rem;
  }

  .logo {
    text-align: left;
    padding-left: 1rem;
  }

  #dessert-tutorial .container h1 {
    font-size: 1.8rem;
  }

  .video-description {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
  }

  .video-description li {
    width: calc(100% / 3);
  }

  .presentation h2 {
    margin: 2rem 0 1rem;
  }

  .presentation p {
    font-size: 1rem;
    line-height: 25px;
  }

  .address-links {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline {
    display: inline;
  }

  .container {
    margin: 0 8rem;
  }

  #dessert-tutorial .container h1 {
    font-size: 2rem;
  }

  .card-video {
    width: 70%;
  }

  .card-description {
    width: 30%;
  }

  .video-description li {
    width: 100%;
  }

  .btn p {
    color: black;
    font-size: 0.8rem;
  }

  .address-links {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .address-links {
    text-align: left;
  }

  .ft-links-items {
    text-decoration: underline;
    margin: 0 5px;
  }
}
