/* reset */

/* da segnare sempre all'inizio del CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #f6f5f3;
  /* debug */
  min-height: 400px;
}

footer {
  background-color: #7c69a4;
  color: white;
}

span {
  font-weight: bold;
}

/* # UTILS */

.container {
  margin: 0 1.5rem;
  padding: 1.5rem 1.5rem;
  max-width: 100%;
}

.clearfix::after {
  /* da applicare al genitore con regola float */
  content: "";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.btn {
  background-color: white;
  padding: 0.7rem 1rem;
  border-radius: 50%;

  cursor: pointer;
}

/* HEADER */
.logo {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  color: #ff9614;

  padding: 0.5rem 0;
}
/* MAIN */

.card-description {
  padding: 1.5rem;
  background-color: white;
}

.video-item {
  width: 100%;
}

.social-icons {
  justify-content: space-between;
  margin: 2rem 0;
}

#facebook {
  color: #035ca5;
}

#twitter {
  color: #74c0fc;
}

#instagram {
  color: #ff55ff;
}

#pinterest,
#youtube {
  color: red;
}

.presentation {
  margin-bottom: 2rem;
}

.presentation-image {
  margin: 1rem 0;
}

.presentation p {
  font-size: 1.2rem;
  line-height: 35px;
}
/* FOOTER */

.address-links {
  flex-direction: column;
  align-items: center;
  gap: 15px;

  padding: 2rem 0;
}

.ft-links {
  text-align: center;
  line-height: 2rem;
}

.ft-links-items {
  text-decoration: underline;
  margin: 0 10px;
}

/* MEDIA QUERY */

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}
